body {
    font-family: Arial, sans-serif;
    background-color: #cce7ff; /* Baby blue background */
    color: #005792; /* Blue text for contrast */
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #ffffff;
    padding: 20px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image {
    width: 50px; /* Resmin genişliği */
    height: 50px; /* Resmin yüksekliği */
    border-radius: 50%;
    margin-right: 20px; /* Resim ve başlık arasındaki boşluk */
}
.description, .contributors, .video, .download {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
}
video {
    width: 100%;
    max-width: 800px; /* Larger video size */
}
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #005792;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
